@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1, h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: $dark-brown;
}
h3, h4, h5 h6 {
  font-family: 'ubuntu', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $dark-brown;
}
.link {
  text-decoration: none;
  color: $dark-brown;
  &:hover {
    color:$meeseek-blue;
  }
}
p {
  font-family: 'Poppins', sans-serif;
  color: $dark-brown;
}
.background-blue {
  background-color: $beige;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
}
