.meeseeker-my-bookings {
  border-radius: 50%;
  height: 350px;
  width: 350px;
  margin-top: 16px;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
}

.bookings ul {
  list-style: none;
  margin: 0; padding: 0;
}

.my-booking-card {
  background-color: $beige;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
}

.profile_pic {
  align-items: center;
}

.my_bookings {
 padding-top: 16px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.my_bookings p {
  font: $body-font;
}

.my_bookings h1 h2 h4 h5 {
  font: $headers-font;
}
