        <div class="calendar-display-none" data-calendar-target="calendar">
          <%= month_calendar  do |date|  %>
          <%= date.to_formatted_s(:short) %>
          <% end %>
        </div>
