<div class="home-banner">

  <%= image_tag 'meeseeks.png', class: 'meeseeker-logo' %>

  <h2 class='home-banner-subtitle pb-4'>We exist for your pain!</h2>

<%= link_to "Take a look", meeseeks_path, class:"button-primary mb-4" %></div>

</div>
