<div class="home-banner">

  <%= image_tag 'meeseeks.png', class: 'meeseeker-logo' %>

  <h2 class='home-banner-subtitle'>We exist for your pain!</h2>

  <div class='btn home-page-button'><%= link_to "Take a look", meeseeks_path %></div>

</div>
