<div class="home-banner">

  <%= image_tag 'meeseeks.png', class: 'meeseeker-logo' %>

  <h2 class='home-banner-subtitle pb-5'>We exist for your pain!</h2>

  <div class='button-primary'><%= link_to "Take a look", meeseeks_path %></div>

</div>
