<div class="container">
  <h1>Create a new Meeseek</h1>
  <%= simple_form_for @meeseek do |f| %>
    <%= f.input :postcode, placeholder: "Enter a valid postcode"%>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
