<div class="container">
  <h1>My bookings</h1>
  <ul>
    <% @my_bookings.each do |booking|%>
      <li>
        <h4>Task: <%= booking.task %></h4>
        <h5> Meeseek: <%= booking.meeseek_id %></h5>
        <p>Start Date: <%= booking.date_available_from %></p>
        <p>End Date: <%= booking.data_available_to %></p>
      </li>
    <% end %>
  </ul>
</div>
