<div class="container">
  <div class="my_bookings row">
    <div class="profile_pic col-md-5 col-sm-12 mt-3">
        <%= image_tag 'mr-meeseeks.png', class: 'meeseeker-my-bookings'%>
    </div>
    <div class="col-md-7 col-sm-12">
      <%= render "form"  %>
    </div>
  </div>
</div>
