.button-primary {
  background-color: $meeseek-blue;
  border-radius: 25px;
  font-family: 'poppins', sans-serif;
  border: none;
  padding: 10px 20px;
  margin-right: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: white;

  &:hover {
    background-color: $button-hover;
    color: white;
  }
}

.button-book {
  background-color: $meeseek-blue;
  border-radius: 25px;
  font-family: 'poppins', sans-serif;
  border: none;
  padding: 10px 20px;
  margin-right: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 32px;
}

.button-login {
  background-color: $bogey-green;
  width: 50%;
  border-radius: 25px;
  font-family: 'poppins', sans-serif;
  border: none;
  margin-right: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.book-meeseek .button-primary {
  display: block;
  width: 46%;
}
