.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding: 8px;
}

.meeseek-card {
  background-size: cover;
  background-position: top;
  height: 150px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  background-color: $bogey-green;
  border-radius: 8px 8px 0 0;
}

.cards > a {
  text-decoration: none;
  color: $dark-brown;
}

.card {
  border-radius: 8px;
}

.card-body p {
  font-size: 0.7em;
  margin: 0;
}
