.meeseek-details > img {
  width: 400px;
  height: 400px;
  border-radius: 25px;
  background-color: $bogey-green;
  object-fit: cover;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.meeseek-summary {
  padding: 30px;
}

.book-meeseek {
  padding: 30px;
  background-color: $beige;
  border-radius: 25px;
}
